<h1>{{title}}</h1>
<p>Pyodide is a tool for using Python 3.8 in a browser via WebAssembly.</p>
<p>This allows you to use Python along with the scientific stack including <br>
  NumPy, Pandas, Matplotlib, SciPy, and scikit-learn. The packages directory <br>
   lists over 75 packages which are available aswell.
</p>
<h2>How to Run</h2>
<p>To use Pyodide you only need to include the URL as follows in your proyect:</p>
<textarea cols="80" rows="10"><head>
  <script type="text/javascript">
      // set the pyodide files URL (packages.json, pyodide.asm.data etc)
      window.languagePluginUrl = 'https://cdn.jsdelivr.net/pyodide/v0.16.1/full/';
  </script>
  <script src="https://cdn.jsdelivr.net/pyodide/v0.16.1/full/pyodide.js"></script>
</head>
</textarea>
<p><i>It is also possible to download the Pyodide release and add its content to the distribution for then simply calling pyodide.js file like a simple script</i></p>
<p>Once you have added this you can simply call the Promise object from the pyodide.js <br>
   which will install a namespace in global scope, or in simpler terms call the following <br> code and pass the python code inside the apostrophes: </p>
<textarea cols="50" rows="8">
  <script type="text/javascript"></script>
    languagePluginLoader.then(() => {
      console.log(pyodide.runPython('
      import sys
      sys.version'));
    });
  </script>
</textarea>
<p>If you ran it correctly you should see something similar to this. <br>
   (Or whaterver you expected from whats inside the apostrophes)</p>
<img src="assets/img/pyodide.png" alt="pyodide browser output" width="60%">
<h2>Accessing Python scope from JavaScript</h2>
<p>You can also access to all functions and variables initialized in python <br> 
directlly from JS, by using pyodide.globals. <br> Here are some examples:</p>
<textarea cols="80" rows="18">
  pyodide.globals.x
  // >>> [Float64Array(3), Float64Array(3), Float64Array(3)]
  
  // create the same 3x3 ndarray from js
  let x = pyodide.globals.numpy.ones(new Int32Array([3, 3]))
  // x >>> [Float64Array(3), Float64Array(3), Float64Array(3)]  

  // re-assign a new value to an existing variable
  pyodide.globals.x = 'x will be now string'

  // create a new js function that will be available from Python
  // this will show a browser alert if the function is called from Python
  pyodide.globals.alert = msg => alert(msg)

  // this new function will also be available in Python and will return the squared value.
  pyodide.globals.squer = x => x*x
</textarea>
<h2>Accessing JavaScript scope from Python</h2>
<p>Using the python module js you can manipulate the DOM.</p>
<textarea cols="70" rows="7">
import js

div = js.document.createElement("div")
div.innerHTML = "<h1>This element was created from Python</h1>"
js.document.body.prepend(div)
</textarea>

<router-outlet></router-outlet>